

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --nav-bg-image: linear-gradient(to right, #a517ba, #5f1782);
}

body {
    font-family: sans-serif;
    min-height: 200vh;
}

/******************************* Navbar Style *********************************/

#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar {
    background-image: var(--nav-bg-image);
}

.navbar-brand img {
    height: 40px;
    padding-left: 20px;
}

.navbar-toggler {
    box-shadow: none !important;
}

.bx-menu {
    font-size: 2rem;
}

/****************************** Navbar End ******************************/

/****************************** Banner style *****************************/

#banner {
    background-image: var(--nav-bg-image);
    padding-top: 5%
}

#banner .title {
    font-size: 2.5rem;
    font-weight: 600;
    margin-top: 100px;
}

.play-btn {
    margin: 20px;
}

#banner a {
    color: #fff;
    text-decoration: none;
}

#banner .bottom-img {
    width: 100%;
}